@model ASI.Basecode.Services.ServiceModels.UserPageViewModel

@{
  ViewData["Title"] = "Users";
}
<section class="section">
  <div class="section-header">
    <h1>@ViewData["Title"]</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></div>
      <div class="breadcrumb-item">@ViewData["Title"]</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Total Users</h4>
          <div class="card-header-action">
            <a href="" class="btn btn-primary"><i class="fas fa-plus"></i> Create New</a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="table-1">
              <thead>
                <tr>
                  <thead>
                    <tr>
                      <th class="text-center">
                        @Html.DisplayNameFor(model => model.UserList.dataList.First().Id)
                      </th>
                      <th>
                        @Html.DisplayNameFor(model => model.UserList.dataList.First().Name)
                      </th>
                      <th>
                        @Html.DisplayNameFor(model => model.UserList.dataList.First().Email)
                      </th>
                      <th>
                        @Html.DisplayNameFor(model => model.UserList.dataList.First().Role)
                      </th>
                      <th>
                        @Html.DisplayNameFor(model => model.UserList.dataList.First().DateCreated)
                      </th>
                      <th>
                        @Html.DisplayNameFor(model => model.UserList.dataList.First().DateModified)
                      </th>
                      <th>
                        @Html.DisplayNameFor(model => model.UserList.dataList.First().Action)
                      </th>
                    </tr>
                  </thead>

              </thead>
              <tbody>
                @foreach (var item in Model.UserList.dataList)
                {
                  <tr>
                    <td class="text-center">
                      @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.DisplayRole)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.DateModified)
                    </td>
                    <td>
                      <a asp-controller="Room" asp-action="Edit" class="btn btn-primary btn-action mr-1"
                        data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                      <a class="btn btn-danger btn-action" data-toggle="tooltip" title="Delete"
                        data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?"
                        data-confirm-yes="alert('Deleted')"><i class="fas fa-trash"></i>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>